/*
*
* Copyright (c) 2021 lowprokb.ca
* SPDX-License-Identifier: MIT
*
*/

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define QWERTY 0
#define NUMROW 1
#define NAVFUN 2
#define CONFIG 3

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        label = "QWERTY";

// QWERTY-----------------------------------------------------------------------------------
// | Esc`    |  Q  |  W  |  E  |  R  |  T  |-----|  Y  |  U   |  I  |  O  |  P  |  -   |
// | Sk CTRL |  A  |  S  |  D  |  F  |  G  |-----|  H  |  J   |  K  |  L  |  ;  |  '   |
// | Sk SHFT |  Z  |  X  |  C  |  V  |  B  |-----|  N  |  M   |  ,  |  .  |  /  |  =   |
//               | Sk ALT | SPC | TAB(num) |-----| BKSP | ENTER/GUI  | SHIFT |

                        bindings = <
   &gresc    &kp Q &kp W &kp E &kp R &kp T       &kp Y &kp U &kp I    &kp O   &kp P    &kp MINUS
   &sk LCTRL &kp A &kp S &kp D &kp F &kp G       &kp H &kp J &kp K    &kp L   &kp QUOT &kp SQT
   &sk LSHFT &kp Z &kp X &kp C &kp V &kp B       &kp N &kp M &kp CMMA &kp DOT &kp FSLH &kp EQUAL
             &sk LALT &kp SPC &lt NUMROW TAB    &lt NAVFUN BSPC &mt LGUI RET &sk RSHFT
                        >;
                };

                numrow_layer {
                        label = "NUMROW";

// NUMROW-----------------------------------------------------------------------------------
// | `~   |  !  |  @  |  #  |  $  |  %  |-----|  ^  |  &   |  *  |  (  |  )  |  |   |
// | CTRL |  1  |  2  |  3  |  4  |  5  |-----|  6  |  7   |  8  |  9  |  0  |  :   |
// | SHFT |     |  ~  |  `~ |  [  |  {  |-----|  }  |  ]   |  ,  |  .  |  /  |  \   |
//                    |     |     |     |-----| BKSP | ENTER  | SHIFT |

                        bindings = <
   &kp GRAVE &kp EXCL &kp AT    &kp HASH  &kp DLLR &kp PRCNT &kp CARET &kp AMPS &kp STAR &kp LPAR &kp RPAR &kp PIPE
   &kp LCTRL &kp N1   &kp N2    &kp N3    &kp N4   &kp N5    &kp N6    &kp N7   &kp N8   &kp N9   &kp N0   &kp COLON
   &kp LSHFT &none    &kp TILDE &kp GRAVE &kp LBKT &kp RBRC  &kp RBKT  &kp RBKT &kp CMMA &kp DOT  &kp FSLH &kp BSLH
                        &none &none &trans         &lt CONFIG BSPC &kp RET &sk RSHFT
                        >;
                };

                navfun_layer {
                        label = "NAVFUN";

// NAVFUN-----------------------------------------------------------------------------------
// |  TAB | F1  | F2  | F3  | F4  | F5   |-----| F6  | F7  | F8  | F9  | F10 | DEL  |
// |LCTRL | HOME| END | GUI | LCTL| PGUP |-----| LFT | DWN | UP  | RGT | INS | F11  |
// |LSHFT | RApp|     |     |     | PGDN |-----| play| prv | next| vol-| vol+| F12  |
//                    | ESC | SPC | TAB  |-----|     |     |     |

                        bindings = <
   &kp TAB   &kp F1    &kp F2  &kp F3    &kp F4    &kp F5    &kp F6    &kp F7   &kp F8 &kp F9    &kp F10 &kp DEL
   &kp LCTRL &kp HOME  &kp END &kp LGUI  &kp LCTRL &kp PG_UP &kp LEFT  &kp DOWN &kp UP &kp RIGHT &none   &kp F11
   &kp LSHFT &kp K_APP &none   &none     &none     &kp PG_DN &kp C_PP  &none    &none  &none     &none   &kp F12
                      &kp ESC &kp SPS &lt CONFIG TAB    &trans &none &none
                        >;
                };

                config_layer {
                        label = "CONFIG";
// CONFIG-----------------------------------------------------------------------------------
// |BTCLR | BT0 | BT1 | BT2 | BT3 | BT4 |-----|     |     |     |     |     |      |
// |      |     |     |     |     |     |-----|     |     |     |     |     |      |
// |      |     |     |     |     |     |-----|     |     |     |     |     |      |
//                    |     |     |     |-----|     |     |reset|
                        bindings = <
   &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4    &none &none &none &none &none &none
   &none      &none        &none        &none        &none        &none           &none &none &none &none &none &none 
   &none      &none        &none        &none        &none        &none           &none &none &none &none &none &none
                           &none &none &trans &trans &none &reset
                        >;
                };
        };
};
